{% extends 'partials/html.twig' %}
{% set extra_body_class = 'landing' %}

{% block body %}
    <main role="main" class="container">
        {% block content %}{% endblock %}
    </main>
{% endblock %}