<footer class="footer">
    <div class="items container">
        {% for item in menus['footer'].items %}
            <div id="footer-item-{{ item.ID }}" class="{{ item.class }}">
                <a href="{{ item.link }}">{{ item.title }}</a>
            </div>
        {% endfor %}
    </div>
</footer>