{% extends 'partials/base.twig' %}

{% block content %}
    {% for post in posts %}
        <h1><a href="{{ post.link }}">{{ post.title }}</a></h1>
        <p>{{ post.preview.length(5) }}</p>
    {% endfor %}
{% endblock %}