/* Sticky footer styles
-------------------------------------------------- */
:root {
    --admin-bar-height: 32px;
    --footer-min-height: 60px;
}

html, body {
    position: relative;
    height: 100%;
}

html.admin-bar {
    margin-top: unset !important;
    padding-top: var(--admin-bar-height);
}

body {
    padding-top: 54px;
}

@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}

body.admin-bar .fixed-top {
    top: var(--admin-bar-height);
}

#page-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    padding: 50px;
}

main.wide {
    padding: 0;
}

footer {
    min-height: var(--footer-min-height);
    display: flex !important;
    align-items: center;
    background-color: var(--light);
}

footer a {
    color: var(--gray)
}

footer .items {
    display: flex;
}

footer .items > div {
    margin: 0 10px 0 10px;
}

a:hover {
    text-decoration: none;
}

h1 > a, h1 > a:hover,
h2 > a, h2 > a:hover,
h3 > a, h3 > a:hover,
h4 > a, h4 > a:hover,
h5 > a, h5 > a:hover,
h6 > a, h6 > a:hover {
    color: inherit;
}